<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="11.3.475" />
  <package id="Microsoft.ServiceFabric.Data" version="8.3.475" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="8.3.475" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="8.3.475" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="8.3.475" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="8.3.475" />
  <package id="Microsoft.ServiceFabric.Services" version="8.3.475" />
  <package id="Newtonsoft.Json" version="13.0.4" manuallyInstalled="true" />
  <package id="SharpZipLib" version="1.4.2" manuallyInstalled="true" />
</packages>